<h1>Login page </h1>
<h2>Please type in your username</h2>
<%= form_for :auth do |f|%>
<%= f.text_field :name%><br>
<%= f.submit "Login", class:"btn btn-link"%>
<%end%>

<%=link_to "New Account", signup_path%>