<h1>Characters</h1>

<% @characters.each do |character|%>
<h2><%= link_to character.name, character_path(character)%></h2>
<%end%>

<%=button_to "New character", new_character_path, method: :get%>
<%=button_to "Spells", spells_path, method: :get%>
<%=button_to "Skills", skills_path, method: :get%>


